header {
    position:inline-block;
    overflow:auto;
    padding:7px;
    height:80px;
    background-color:rgb(184,224,185);
    border-bottom:1px solid rgb(133,173,173);
}
#header-left {
    float:left;
}
#header-right {
    float:right;
}
.text-login {
    margin-right:10px;
    padding:15px 15px 5px 15px;
    text-align: right;
}
.header-title {
    display:resolute;
    float:left;
    padding:10px 0px 10px 10px;
    font-size:1.5em;
    color:rgb(133, 2, 2);
}
.cat-text-position {
    margin: 15px;
}
.logo {
    height: 58px;
    width: 107px;
}

